/*LOGO FONT*/
.logo{font-family: 'Open Sans', sans-serif; font-size: 600%; font-weight: 200; line-height: 70px; margin-bottom:40px;}

h2.about {font-weight:200; font-size:36px; margin-bottom:20px;}

.info{font-size: 24px; line-height: 36px; font-weight:200;}

.form{padding-top:20px;}

::selection{background:#eb4141; color:#fff; text-shadow:none;}

.heart{color:#eb4141;}
